=outset-color($color)
  background-color: $color
  border-top: 4px solid +lighten($color, 40%)
  border-left: 4px solid +lighten($color, 20%)
  border-right: 4px solid +darken($color, 20%)
  border-bottom: 4px solid +darken($color, 40%)
